<h1>Редактувати товар</h1>
<%= form_for @item do |item| %>
  <p>
    <%= item.label :name %>
    <%= item.text_field :name %>
  </p>

  <p>
    <%= item.label :price %>
    <%= item.text_field :price %>
  </p>

  <p>
    <%= item.label :description %>
    <%= item.text_field :description %>
  </p>
  <p>
    <%= item.label :weight %>
    <%= item.text_field :weight %>
  </p>
  <p>
    <%= item.label :real %>
    <%= item.check_box :real %>
  </p>
  <p>
    <%= item.submit 'Зберегти' %>
  </p>
<% end %>
