<h1>Перелік товарів</h1>
<table>
  <tr>
    <th>Назва</th>
    <th>Ціна</th>
    <th>Опис</th>
    <th>Вага</th>
    <th>Наявність</th>
  </tr>
  <%= @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.description %></td>
      <td><%= item.weight %></td>
      <td><%= item.real %></td>
    </tr>
  <% end %>
</table>

